body
{
<<<<<<< HEAD
<<<<<<< HEAD
    background: #1e1f24;
=======
>>>>>>> footer
=======
>>>>>>> header
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
<<<<<<< HEAD
<<<<<<< HEAD
    background: #37488b;
=======
    background: #33A;
>>>>>>> footer
=======
    background: #33A;
>>>>>>> header
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

<<<<<<< HEAD
<<<<<<< HEAD
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

=======
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

>>>>>>> footer
=======
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

>>>>>>> header
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
<<<<<<< HEAD
<<<<<<< HEAD
    background: white;
    padding: 1em;
}
=======
=======
>>>>>>> header
    padding: 1em;
}

#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}
<<<<<<< HEAD

>>>>>>> footer
=======
<<<<<<< HEAD
=======

>>>>>>> 23ba67c2a95d5e659a19cea1e806ce2d1b0f49fb
>>>>>>> header
